<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Log Viewer</title>
    <link rel="stylesheet" href="{{ static_url("se.css") }}" type="text/css"/>
  </head>
  <body>
    <div id="body">
      <div id="se-logs">
        {% for log in logs %}
          {% module Template("log/log.html", log=log) %}
        {% end %}
      </div>
    </div>
    <script src="{{ static_url("jquery.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("log.app.js") }}" type="text/javascript"></script>
  </body>
</html>
